/* h1 {
  font-family: "Inter", sans-serif;
} */
input[type="text"] {
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  color: #333;
  background-color: #f2f2f2;
  margin-right: 10px;
}
input[type="text"]:focus {
  border-color: #010101;
  background-color: #fff;
}
